.rain {
  background: rgb(234, 240, 255);
  width: 35px;
  height: 28px;
  color: rgb(79, 79, 215);
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
