.temperature {
  width: 36px;
  height: 28px;
  color: rgb(79, 79, 215);
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  line-height: 17px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  letter-spacing: 0px;
}
